@font-face {
    font-family: 'SegoeUI-black';
    src: url('../fonts/SegoeUI-black/SegoeUIBlack.eot');
    src: url('../fonts/SegoeUI-black/SegoeUIBlack.eot') format('embedded-opentype'),
         url('../fonts/SegoeUI-black/SegoeUIBlack.woff') format('woff'),
         url('../fonts/SegoeUI-black/SegoeUIBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/SegoeUI-Bold/SegoeUIBold.eot');
    src: url('../fonts/SegoeUI-Bold/SegoeUIBold.eot') format('embedded-opentype'),
         url('../fonts/SegoeUI-Bold/SegoeUIBold.woff') format('woff'),
         url('../fonts/SegoeUI-Bold/SegoeUIBold.ttf') format('truetype');
}


@font-face {
    font-family: 'SegoeUI-light';
    src: url('../fonts/SegoeUI-light/SegoeUIlight.eot');
    src: url('../fonts/SegoeUI-light/SegoeUIlight.eot') format('embedded-opentype'),
         url('../fonts/SegoeUI-light/SegoeUIlight.woff') format('woff'),
         url('../fonts/SegoeUI-light/SegoeUIlight.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI-semilightItalic';
    src: url('../fonts/SegoeUI-semilightItalic/SegoeUISemilightItalic.eot');
    src: url('../fonts/SegoeUI-semilightItalic/SegoeUISemilightItalic.eot') format('embedded-opentype'),
         url('../fonts/SegoeUI-semilightItalic/SegoeUISemilightItalic.woff') format('woff'),
         url('../fonts/SegoeUI-semilightItalic/SegoeUISemilightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI-Semibold';
    src: url('../fonts/SegoeUI-Semibold/SegoeUISemibold.eot');
    src: url('../fonts/SegoeUI-Semibold/SegoeUISemibold.eot') format('embedded-opentype'),
         url('../fonts/SegoeUI-Semibold/SegoeUISemibold.woff') format('woff'),
         url('../fonts/SegoeUI-Semibold/SegoeUISemibold.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUI-semilight';
    src: url('../fonts/SegoeUI-semilight/SegoeUI-semi-light.eot');
    src: url('../fonts/SegoeUI-semilight/SegoeUI-semi-light.eot') format('embedded-opentype'),
         url('../fonts/SegoeUI-semilight/SegoeUI-semi-light.woff') format('woff'),
         url('../fonts/SegoeUI-semilight/SegoeUI-semi-light.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeUIBoldItalic';
    src: url('../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot');
    src: url('../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff') format('woff'),
         url('../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'MullerThin';
    src: url('../fonts/MullerThin/MullerThin.eot');
    src: url('../fonts/MullerThin/MullerThin.eot') format('embedded-opentype'),
         url('../fonts/MullerThin/MullerThin.woff') format('woff'),
         url('../fonts/MullerThin/MullerThin.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadProRegular/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular/MyriadProRegular.ttf') format('truetype');
}

h1 {

    font-family: 'SegoeUI-black';
}


