.button-blue {
    
    padding: 10px;
    border-radius: 22px;
    border: 2px solid #00aeef;
    display: inline-block;
    cursor: pointer;
    
}

.container {
    
    max-width: 1305px;
    margin: 0 auto;
    padding: 30px 20px;
}

.gradient-for-blue {
    
    background: linear-gradient(to left, #1b75bc, #00aeef);
}
