$color-dark-green: #005772;
$color-dark-silver: #595959;
$color-start-blue: #1582C8;
$color-end-blue: #01ABEC;
$color-some-silver: #C1BEC1;
$color-almost-white: #EDECED;
$color-white: #fff;
$color-some-white: #e9e9ea;
$color-bg: #e8e8e8;
$basic-margin: 0 40px 0 40px;
$color-some-dark: #423f3f;
$color-green: #39b54a;
$color-blue: #1c75bc;
$color-pink: #ec008c;
$color-yellow: #ffd400;
$color-night: #231f20;
$color-bg-two: #F0F0F0;
$color-light-silver: #dcdcdc;
$color-border:#e6e7e8;
$color-black: #000;
$color-some-brown: #454545;
$color-almost-blue-two: #00aeef;

$color-black-333: #333;

$color-light-pink: #ffa1be;
$color-light-yellow: #ffca7f;
$color-light-green: #7ce7b1;
$color-light-blue: #1a75bc;
$color-point: #005772;
$color-txt-blue: #558fa1;
$color-brown: #858585;

$color-red: #F00000;

$color-p-seven-section: #262626;
$color-h1-seven-section: #555555;

$color-for-slider: #2d2d2d;
$color-title: #b2b2b2;
$color-text-slider: #5e5e5e;
$color-border-s: #aeafb0;
$color-down-text: #141414;

$color-bg-left: #272e38;
$color-h2-left: #282828;
$color-txt-left: #454545;
$color-left-border: #c4c4c4;

$color-very-light-silver: #ECEFF1;

//linear-gradients

$color-one-silver-lg: #EBEBEB;
$color-two-silver-lg: #D1D1D1;


// rgb or rgba colours 

$color-dark-green-rgba: rgba(53,123,156,1);
$color-black-rgba: rgba(0,0,0,0.9);
$color-some-blue-rgba: rgba(0,174,239,1);
$color-very-green-rgba: rgba(130,255,0,1);
$color-yellow-rgba: rgba(255,237,0,1);
$color-some-black-rgba: rgba(49,49,49,1);
$color-some-silver-rgba: rgba(89,89,89,1);
$color-very-silver-rgba: rgba(151,150,142,1);

    